@import "All.scss";

.Exchanges{
    z-index: -1;
    width: 100vw;
    padding: 3rem;
    .filter-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        button{
            padding: 1rem 2rem;
            font-size: 1rem;
            background-color: var(--color-white);
            cursor: pointer;
            color: var(--color-dark);
            transition: all 500ms ease;
            box-shadow: var(--box-shadow);
            border-radius: 10px;
            &:hover{
                scale: 1.1;
            }
        }
    }
    .exchanges-data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;
        gap: 1rem;
    }
}
@media screen and (max-width:500px) {
    .Exchanges{
        padding: 1rem;
        .filter-btn{
            gap: 1rem;
            button{
                padding: .5rem 1rem;
                font-size: .8rem;
            }
        }
        .exchanges-data{
            gap: .5rem;
        }
    }
}