@import "All.scss";
.footer-section {
  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow:var(--box-shadow);
  padding: 1rem 5rem;
  .parent-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    h2 {
      font-size: 1.2rem;
      font-weight: 800;
      color: var(--color-dark);
      margin-bottom: 2rem;  
      span{
        padding-bottom: 5px;
        border-bottom: 2px solid var(--color-primary);
      }
    }
    .my-intro {
      p {
        font-size: 1rem;
        color: var(--color-dark);
      }
    }
    .social-links {
      .buttons {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        flex-direction: column;
      }
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h4 {
          font-size: 1.1rem;
          font-weight: 600;
        }
        span {
          padding: 0.4rem 0.5rem;
          border-radius: 10px;
          margin-right: 5px;
          font-size: 1.8rem;
          line-height: 5px;
          transition: all 0.5s ease;
        }
        &:hover {
          .github {
            background-color: var(--color-light);
            color: var(--color-dark);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          .linkedin {
            background-color: #0a66c2;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          .whatsapp {
            background-color: #0fd230;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          .instagram {
            background: #f09433;
            background: -moz-linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            background: -webkit-linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            background: linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }
    }
    .contact-parts{
        .info{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
            h4{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                span{
                    font-size: 1.2rem;
                }
                b{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
  }
  .copyright{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    span{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
  }
}
@media screen and (max-width:768px) {
    .footer-section{
        .parent-container{
            h2{
                font-size: .8rem;
            }
            .my-intro{
                p{
                    font-size: .6rem;
                }
            }
            .social-links{
                .buttons{
                    a{
                        h4{
                            font-size: .6rem;
                        }
                        span{
                            font-size: .8rem;
                            margin-right: 2px;
                        }
                    }
                }
            }
            .contact-parts{
                .info{
                    h4{
                        span{
                            font-size: .8rem;
                        }
                        b{
                            font-size: .6rem;
                        }
                    }
                }
            }
        }
        .copyright{
            span{
                font-size: .8rem;
            }
            h2{
                font-size: .6rem;
            }
        }
    }
}
@media screen and (max-width:464px) {
    .footer-section{
        padding: 1rem 2rem;
    }
}
@media screen and (max-width:370px) {
    .footer-section{
        .parent-container{
            .contact-parts{
                display: none;
            }
        }
    }
}