@import "All.scss";

.home-page {
  padding: 2rem 5rem;
  .heading {
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .trending-coins {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .coins {
      width: 150px;
      height: 150px;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);
      transition: all 300ms ease-in-out;
      scale: 0.9;
      &:hover {
        scale: 1;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }
      h2 {
        font-size: 0.8rem;
      }
      a {
        padding: 0.5rem 1rem;
        background-color: #eff2f5;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #58667e;
          color: #fff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
  .coins-table-container {
    margin-top: 2rem;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    table {
      width: 100%;
      tr {
        width: 100%;
        background-color: var(--color-background);
        transition: all 300ms ease;
        &:hover {
          background-color: var(--color-light);
        }
        th {
          padding: 1.2rem 0;
          font-size: 1rem;
          font-weight: 700;
        }
        td {
          padding: 1rem 0;
          font-size: 1rem;
          border-radius: 2px;
          text-align: center;
          span {
            margin-right: 2px;
          }
        }
        .rank {
          width: 5%;
        }
        .unique {
          padding-left: 10px;
          width: 20%;
          display: flex;
          justify-content: flex-start;
        }
        .common {
          width: 15%;
        }
        .logo-name {
          a {
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
              padding-right: 2px;
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
    .more-link {
      a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.5s ease;
        p {
          font-size: 1rem;
          font-weight: 700;
          color: #6ea8fe;
        }
        span {
          padding-left: 2px;
          font-size: 1rem;
          font-weight: 700;
          color: #6ea8fe;
        }
      }
    }
  }
  .crypto-info {
    width: 100%;
    height: max-content;
    padding: 2rem 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .info {
        width: 55%;
        h4{
            font-size: 1.5rem;
            font-weight: 800;
            color: var(--color-dark);
        }
        p{
            font-size: 1rem;
            color: var(--color-dark);
        }
    }
    .image-box{
        width: 40%;
        height: 50vh;
        img{
            width: 100%;
            height: 90%;
            margin-top:1rem;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: var(--box-shadow);
        }
    }
  }
}

@media screen and (max-width: 991px) {
  .home-page {
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    padding: 2rem 4rem;
    .trending-coins {
      .coins {
        width: 100px;
        height: 100px;
        display: flex;
        scale: 0.9;
        &:hover {
          scale: 1;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
        }
        h2 {
          font-size: 0.6rem;
        }
        a {
          padding: 0.3rem 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
    .coins-table-container {
      table {
        width: 90%;
        tr {
          th {
            font-size: 1rem;
          }
          td {
            font-size: 0.8rem;
          }
          .remove {
            display: none;
          }
        }
      }
    }
    .crypto-info {
        flex-direction: column-reverse;
        .info{
            width: 90%;
            height: max-content;
        }
        .image-box{
            width:90%;
        }
    }
  }
}

@media screen and (max-width: 450px) {
  .home-page {
    padding: 2rem 3rem;
    .coins-table-container {
      table {
        tr {
          .remove {
            display: none;
          }
          .remove-volume {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 370px) {
  .home-page {
    padding: 2rem 1rem;
    .coins-table-container {
      table {
        tr {
          th {
            font-size: 0.8rem;
          }
          td {
            font-size: 0.5rem;
          }
          .remove {
            display: none;
          }
          .remove-volume {
            display: none;
          }
          .remove-market-cap {
            display: none;
          }
          .logo-name {
            a {
              img {
                padding-right: 2px;
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
    .crypto-info {
        .info{
            h4{
                font-size: 1rem;
            }
            p{
                font-size: .8rem;
            }
        }
    }
  }
}
