@import "All.scss";
header {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--color-background);
  .container {
    width: 100vw;
    height: 6rem;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      span {
        font-size: 2rem;
        font-weight: 900;
        color: var(--color-primary);
      }
      .logo-name {
        font-size: 1.2rem;
        font-weight: 800;
      }
    }
    .nav-links {
      transition: all 500ms ease-in-out;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        span{
          cursor: pointer;
            display: none;
        }
        li a {
          font-size: 1.1rem;
          font-weight: 600;
          transition: all 500ms linear;
          &:hover {
            color: var(--color-primary);
            border-bottom: 1px solid var(--color-primary);
          }
        }
      }
    }
    .corner-btn {
      #menu-btn {
        display: none;
        cursor: pointer;
      }
      button {
        color: var(--color-dark);
        cursor: pointer;
        padding: 0.5rem;
        background-color: transparent;
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    .container {
      position: relative;
      .nav-links {
        position: absolute;
        top: 0;
        left: -100%;
        width: 50vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background-color: var(--color-background);
        transition: all 500ms ease-in-out;
        ul{
            flex-direction: column;
            gap: 2rem;
            span{
                font-size: 2rem;
                font-weight: 900;
                display: inline-block;
                margin-top: 3rem;

            }
            li a{
                transition: all 300ms ease-in-out;
                &:hover{
                    border-bottom: none;
                    margin-left: 30px;
                }
            }
        }
      }
      .nav-links.active{
        left: 0;
        opacity: 1;
        visibility: visible;
      }
      .corner-btn{
        #menu-btn{
            display: inline-block;
        }
      }
    }
  }
}
@media screen and (max-width:400px) {
  header{
    .container{
      padding: 0 1rem;
      .nav-links{
        ul{
          li a{
            font-size: .8rem;
          }
        }
      }
      .logo{
        span{
          font-size: 1rem;
        }
        .logo-name{
          font-size: .6rem;
        }
      }
    }
  }
}